@media screen and (max-width:700px){
    header .conteiner{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        width: 300px;
    }
    .carrosel{
        margin-top: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }
}