<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/Desing-inicio.css">
    <title>SoftFlix</title>

    <!--Responsividade-->
    <link rel="stylesheet" type="text/css" href="css/responsividade.css">

</head>
<body>
    <header>
        <div class="conteiner">
           <a href="inicio.html"><h2 class="logo">SOFTFLIX</h2></a>
        </div>
    </header>
    <main>
        <div class="fundo">
            <div class="container">
                <nav class="back"></nav>
                <button role="button" class="botao" >
                    <a href="login.html">
                        <i class="fas fa-key"></i>
                        ENTRAR
                    </a>
                </button>
                <button role="button" class="botao">
                    <a href="cadastro.html">
                        <i class="fas fa-sign-in-alt"></i>
                        CADASTRAR
                    </a>
                </button>
            </div>
        </div>
    </main>



    <script src="https://kit.fontawesome.com/b7a9451fee.js" crossorigin="anonymous"></script>
</body>
</html>